body {
	font-family: 'Roboto', sans-serif;
background: #C04848; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C04848 , #480048); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C04848 , #480048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

h1 {
	background: #C04848; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #480048, #C04848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       

	color: white;
	margin: 0;
	padding: 10px 20px; /*10 px top and bottom, 20 left right*/
	font-weight: 400;
	font-size: 24px;
}

ul {
    list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){    /*EVERY OTHER LI COLOR  3n would be every 3rd*/
	background: #f7f7f7;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	opacity: 0; /*Otherise trash icon is still visable when span not there*/
	transition: .3s linear; /*linear makes it move at constant speed*/
}

li:hover span {
	width: 40px;  /*Hidden span until hover;*/
	opacity: 1.0;
}

input {
	font-size: 18px;
	border: 3px solid rgba(0,0,0,0);   /*Removes input border, looks more streamline*/
	background-color: #f7f7f7;
	color: #C04848;
	width: 100%;
	padding: 13px 13px 13px 20px;
	-moz-box-sizing: border-box;   /*firefox */
	-webkit-box-sizing: border-box;    /*Chrome*/
 	box-sizing: border-box;  /* width and height include padding and border but not margin*/
}

input:focus{
	background: white;
	border: 3px solid #862548;
	outline: none;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

.fa-plus {
	float: right;
}

#container{
    width: 400px;
    margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

